h1{
    color:green ;
}
.odd{
    color: red
}
.even{
    color: blue;
}
#middle{
    color: yellow;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blue;
}
.container{
    display: flex  ;
}

@media screen (min-width:601px) and (max-width:900px)
     {
    .box{
        background-color: green;
    }
}
  